/* CSS */

body {
    background: #111111;
}

p .body{
    font-size:14px;
    color:#538b01;
    font-weight:bold;
    font-style:italic;
}

.body { 
  height: auto; 
  width: 440px; 
  padding: 15px 15px 15px 15px; 
  margin: 0px auto 0px auto; 
  display: block; 
  background: #FFFFFF; 
  color: #000000; 
}

mark.red {
    color:#ff0000;
    background: none;
}

mark.blue {
    color:#0000A0;
    background: none;
}